.container {
  background-color: white;
}
.main {
  border: 2px solid rgb(221, 218, 218);
  margin-bottom: 5px;
}
.userCard {
  display: flex;
  background-color: rgb(248, 246, 246);
  border: 2px solid whitesmoke;
}
img {
  width: 50px;
  height: 50px;
  margin: 10px;
}

.userName {
  font-size: 20px;
  margin: 10px;
  margin-bottom: 5px;
}
.name {
  margin: 10px;
  font-size: 15px;
  margin-top: 0px;
}
.userPost {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}
.title {
  color: rgb(29, 105, 167);
  font-size: 20px;
  margin-top: auto;
  margin-left: 10px;
}
.body {
  margin-top: auto;
  margin-left: 10px;
}
.comment {
  display: flex;
  background-color: rgb(248, 246, 246);
  margin-left: 10px;
}
.heading {
  display: flex;
  background-color: rgb(248, 246, 246);
}
.comment-card {
  margin-bottom: 5px;
  border: 2px solid whitesmoke;
}
.comment p {
  margin-top: 30px;
}
.link {
  text-decoration: none;
}
